@font-face {
  font-family: OpenSans;
  src: url(assets/OpenSans-Regular.ttf);
  font-weight: 800;
} 

@font-face {
  font-family: Sofa;
  src: url(assets/SofadiOne-Regular.ttf)
 
}

body {
  text-align: center;
  font-size: 26px;
  font-family: 'OpenSansRegular';
}

h1 {
  font-family: 'Sofa';
}



h2 {
  font-family: 'Sofa';
  font-size: 60px;
}

h3 {
  font-family: 'OpenSans';
  font-size: 24px;
  color: rgb(224, 71, 173);
  font-weight: 600;
}



@keyframes fade-out {
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}