@font-face {
  font-family: OpenSansRegular;
  src: url(assets/OpenSans-Regular.ttf);
  font-weight: 800;
} 

@font-face {
  font-family: PompiereRegular;
  src: url(assets/Pompiere-Regular.ttf);
 
}

body {
  text-align: center;
  font-size: 26px;
  padding: 2.5%;
  font-family: 'OpenSansRegular';
}

h1 {
  font-family: 'PompiereRegular';
  font-size: 80px;
}

h2 {
  font-family: 'PompiereRegular';
  font-size: 60px;
}

h3 {
  font-family: 'PompiereRegular';
  font-size: 40px;
}

@keyframes fade-out {
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}